@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Inter:wght@300;400&family=Newsreader:opsz,wght@6..72,500&family=Raleway&family=Roboto:wght@300;400&display=swap");
@mui/icons-material/Search';
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}


