@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&family=Inter:wght@300;400&family=Newsreader:opsz,wght@6..72,500&family=Raleway&family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: inter;
}
#container {
  width: 1440px;
  height: 192px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(141, 114, 32, 0.05);
}
.barra_superior {
  display: flex;
  justify-content: space-between;
  padding-left: 104px;
  padding-right: 104px;
  padding-top: 42px;
}
.barra_superior .imagem_01 .text {
  font-family: Inter;
  font-size: 36.395px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.364px;
  color: var(--primary, #c92071);
}

.barra_inferior {
  display: flex;
  justify-content: flex-start;
}
