@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Inter+Tight&family=Inter:wght@300;400&family=Newsreader:opsz,wght@6..72,500&family=Raleway&family=Roboto:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Epilogue&family=Inter+Tight&family=Inter:wght@300;400&family=Newsreader:opsz,wght@6..72,500&family=Raleway&family=Roboto:wght@300;400&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 176vh;
  height: 402vh;
  background: var(--GrayScale-Background, #f8f8f8);
}
#container {
  width: 176vh;
  height: 22vh;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(141, 114, 32, 0.05);
}
.barra_superior {
  display: flex;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 42px;
}
.barra_superior .imagem_01 .text {
  font-family: Inter;
  font-size: 36.395px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.364px;
  color: var(--primary, #c92071);
  padding-left: 34px;
  text-decoration: none;
}
.barra_superior p {
  width: 15px;
  height: 16px;
  color: var(--white, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: 0.5px;
}
.barra_superior p {
  background-color: #c92071;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  margin-top: -0.5rem;
  margin-left: 88rem;
}
.imagem_01 img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  position: absolute;
  margin-top: 7px;
}
.imagem_02 {
  display: flex;
  position: absolute;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.5;
  color: #666666;
}
.imagem_02 {
  margin-left: 54rem;
  margin-top: 7px;
}
.inputs input {
  width: 559px;
  height: 40px;
  flex-shrink: 0;
  border: 0;
  border-radius: 8px;
  background: var(--dark-gray-2, #f5f1f1);
  padding-left: 1rem;
}
.inputs input::placeholder {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #666666;
  opacity: 1;
  padding-left: -1rem;
}
.text_02 {
  color: var(--dark-gray-2, #474747);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-decoration-line: underline;
}
.botao button {
  width: 100px;
  height: 40px;
  flex-shrink: 0;
  border: 0;
  border-radius: 8px;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  background-color: var(--primary, #c92071);
}
.botao button a {
  text-decoration: none;
  color: var(--light-gray-3, #f5f5f5);
}
.carrinho {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.barra_inferior {
  display: flex;
  justify-content: flex-start;
  padding-top: 3.5rem;
  padding-left: 90px;
}
.barra_inferior .home {
  color: var(--primary, #c92071);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-decoration: underline 3px;
}
.barra_inferior a {
  color: var(--dark-gray-2, #474747);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  margin-right: 1.5rem;
  text-decoration: none;
}
.text_03 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 90px;
  padding-right: 90px;
}
.text_03 p {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: var(--dark-gray-2, #474747);
}
.text_03 p span {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
}
.text_03 select {
  width: 332px;
  height: 60px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: var(--dark-gray-2, #474747);
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 5px;
}
.lado_a1 {
  width: 37vh;
  height: 88vh;
  border-radius: 4px;
  background: #fff;
  display: inline-flex;
  padding: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.lado_a1 h3 {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  padding-left: 30px;
  margin-bottom: -10px;
}
.lado_a1 h4 {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  padding-left: 30px;
  margin-top: -5px;
  margin-bottom: 20px;
}
.lado_a1 p {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
  padding-left: 30px;
  margin-top: -20px;
}
