@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 176vh;
  height: 260vh;
  background: #f9f8fe;
}
.container {
  width: 176vh;
  height: 20vh;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(141, 114, 32, 0.05);
}
.barra_topo {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
}
.logo img {
  width: 25px;
  height: 25px;
}
.text_logo h1 {
  color: var(--primary, #c92071);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: -0.364px;
  margin-top: -5px;
  margin-left: -40px;
}
.inputs input {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  border: 0;
  border-radius: 8px;
  background: var(--dark-gray-2, #f5f1f1);
  padding-left: 1rem;
  border: 0;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: var(--dark-gray, #1f1f1f);
  padding-right: 28px;
}
.inputs input::placeholder {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: var(--dark-gray, #1f1f1f);
  padding-left: -1rem;
  border: 0;
}
.search img {
  position: relative;
  width: 19px;
  height: 20px;
  margin-left: -70px;
  margin-top: 6px;
}
.text {
  margin-top: 2px;
}
.text a {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-decoration-line: underline;
}
.botao a button {
  width: 60px;
  height: 28px;
  color: var(--light-gray-3, #f5f5f5);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.75px;
  background-color: #c92071;
  border: 0;
  border-radius: 8px;
  margin-top: 2px;
}
.carrinho img {
  width: 15px;
  height: 15px;
  padding-top: 8px;
}
.number p {
  position: absolute;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  width: 12px;
  height: 12px;
  background-color: #c92071;
  border-radius: 22px;
  text-align: center;
  margin-left: -45px;
  margin-top: 1px;
}
.barra_inferior {
  display: flex;
  justify-items: flex-start;
  padding-top: 10px;
  padding-left: 40px;
}
.barra_inferior a {
  text-decoration: none;
  color: var(--dark-gray-2, #474747);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
}
.barra_inferior .home {
  padding-right: 20px;
}
.barra_inferior .produtos {
  color: var(--primary, #c92071);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-decoration: underline 2px;
  padding-right: 20px;
}
.barra_inferior .categorias {
  padding-right: 20px;
}
.main {
  width: 176vh;
  height: 100vh;
  background: #f9f8fe;
}
.main .menu {
  padding-top: 12px;
  padding-left: 40px;
}
.main .menu a {
  text-decoration: none;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
  padding-right: 5px;
}
.caixa_topo {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}
.caixa_a {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 460px;
  border-radius: 4px;
  background: #e2e3ff;
}
.caixa_a span {
  width: 8px;
  height: 8px;
  padding-top: 35vh;
  padding-left: 15px;
  padding-right: 25px;
}
.caixa_a picture img {
  width: 350px;
  height: 200px;
  padding-top: 120px;
}
.caixa_b {
  padding-left: 30px;
}
.caixa_b h2 {
  width: 350px;
  height: 50px;
  color: var(--dark-gray, #1f1f1f);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  font-weight: bolder;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-top: -5px;
}
.caixa_b .sub_titulo {
  display: flex;
  color: var(--dark-gray-3, #666);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.8px;
  margin-top: -10px;
}
.caixa_b .sub_titulo p {
  padding-right: 6px;
}
.caixa_b .sub_titulo_2 {
  display: flex;
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
}
.caixa_b .sub_titulo_2 img {
  width: 140px;
  height: 25px;
  margin-left: -3px;
}
.caixa_b .sub_titulo_2 p {
  padding-left: 10px;
  margin-top: 1px;
}
.caixa_b .sub_titulo_3 {
  display: flex;
}
.caixa_b .sub_titulo_3 .reais {
  display: flex;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  margin-top: 10px;
}
.caixa_b .sub_titulo_3 .valor {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
  margin-top: 2px;
  margin-left: 3px;
}
.caixa_b .sub_titulo_3 p span {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
}
.caixa_b .sub_titulo_3 .desconto {
  color: var(--light-gray-2, #ccc);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-decoration: line-through;
  margin-top: 10px;
  margin-left: 8px;
}
.sub_titulo_4 h4 {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  margin-top: -20px;
}
.sub_titulo_4 .paragrafo {
  width: 64vh;
  height: 10vh;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
  margin-top: -10px;
}
.sub_titulo_4 .tamanho_text {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
}
.quadros {
  display: flex;
  justify-content: start;
  margin-top: -4px;
}
.quadros div {
  width: 4vh;
  height: 4vh;
  color: var(--dark-gray-2, #474747);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  border-radius: 4px;
  border: 1px solid var(--light-gray-2, #ccc);
  background: var(--white, #fff);
  margin-right: 8px;
}
.quadros a {
  text-decoration: none;
}
.quadros .rosa {
  background: var(--primary, #c92071);
}
.circulos {
  display: flex;
  justify-content: start;
}
.circulos a img {
  width: 4vh;
  height: 4vh;
  border-radius: 50%;
  background-color: #1f1f1f;
  margin-right: 8px;
}
.circulos div a .c {
  background-color: black;
}
.caixa_inter p {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
}
.caixa_inter .botao_02 a {
  text-decoration: none;
}
.caixa_inter .botao_02 a button {
  position: absolute;
  width: 18vh;
  height: 6vh;
  background-color: #ffb31f;
  border: 0;
  border-radius: 8px;
  color: var(--light-gray-3, #f5f5f5);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  margin-top: 8vh;
  margin-left: -22vh;
}
.caixas_a2 {
  display: flex;
  justify-content: start;
  padding-left: 40px;
  margin-top: -15vh;
}
.caixas_a2 .tenis_a {
  width: 14vh;
  height: 12vh;
  border-radius: 4px;
  background-color: #e2e3ff;
  margin-right: 19px;
}
.caixas_a2 .tenis_a img {
  width: 12vh;
  height: 6vh;
  padding-left: 5px;
  padding-top: 16px;
}
.tenis_b {
  width: 14vh;
  height: 12vh;
  border-radius: 4px;
  border-radius: 4px;
  background: #ffe8bc;
  margin-right: 19px;
}
.caixas_a2 .tenis_b img {
  width: 12vh;
  height: 6vh;
  padding-left: 5px;
  padding-top: 16px;
}
.tenis_c {
  width: 14vh;
  height: 12vh;
  border-radius: 4px;
  background: #ffc0bc;
  margin-right: 18px;
}
.caixas_a2 .tenis_c img {
  width: 12vh;
  height: 6vh;
  padding-left: 5px;
  padding-top: 16px;
}
.tenis_d {
  width: 14vh;
  height: 12vh;
  border-radius: 4px;
  background: #dec699;
  margin-right: 18px;
}
.caixas_a2 .tenis_e img {
  width: 12vh;
  height: 6vh;
  padding-left: 5px;
  padding-top: 16px;
}
.tenis_e {
  width: 14vh;
  height: 12vh;
  border-radius: 4px;
  background: #e8dfcf;
}
.caixas_a2 .tenis_d img {
  width: 12vh;
  height: 6vh;
  padding-left: 5px;
  padding-top: 16px;
}

.text_04 {
  display: flex;
  justify-content: start;
  padding-top: 6vh;
  padding-left: 40px;
  padding-right: 40px;
}
.text_04 h4 {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.75px;
  width: 30vh;
  height: 20vh;
  padding-right: 117vh;
  margin-bottom: -1px;
}
.text_04 a {
  color: var(--primary, #c92071);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0.75px;
  padding-top: 2.5vh;
}
.text_04 img {
  width: 3vh;
  height: 3vh;
  flex-shrink: 0;
  padding-top: 4vh;
}
.caixa_04 {
  display: flex;
  justify-content: space-between;
  margin-top: -12vh;
  gap: 1vh;
  padding-left: 40px;
  padding-right: 40px;
}
.caixa_04a {
  width: 36vh;
  height: 42vh;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 6px 16px 30px 0px rgba(105, 98, 98, 0.05);
}
.caixa_04a a {
  width: 8vh;
  height: 3.5vh;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 29px;
  background: #e7ff86;
  gap: 10px;
  padding: 1vh 3vh;
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vh;
}
.caixa_04a img {
  width: 40vh;
  height: 30vh;
  padding-top: 8vh;
  margin-left: -5vh;
}
.caixa_04b {
  width: 36vh;
  height: 42vh;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 6px 16px 30px 0px rgba(105, 98, 98, 0.05);
}
.caixa_04b a {
  width: 8vh;
  height: 3.5vh;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  text-align: center;
  border-radius: 29px;
  background: #e7ff86;
  gap: 10px;
  padding: 1vh 3vh;
  position: absolute;
  margin-top: 3vh;
  margin-left: 3vh;
}
.caixa_04b img {
  width: 40vh;
  height: 30vh;
  padding-top: 8vh;
  margin-left: -5vh;
}
.caixa_04c {
  width: 36vh;
  height: 42vh;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 6px 16px 30px 0px rgba(105, 98, 98, 0.05);
}
.caixa_04c img {
  width: 40vh;
  height: 30vh;
  padding-top: 8vh;
  margin-left: -5vh;
}
.caixa_04d {
  width: 36vh;
  height: 42vh;
  flex-shrink: 0;
  border-radius: 4px;
  background: #fff;
  box-shadow: 6px 16px 30px 0px rgba(105, 98, 98, 0.05);
}
.caixa_04d img {
  width: 40vh;
  height: 30vh;
  padding-top: 8vh;
  margin-left: -5vh;
}
.caixa_05 {
  width: 176vh;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  padding-top: 2vh;
  padding-left: 40px;
  padding-right: 40px;
}
.text_05a {
  width: 30vh;
  height: 20vh;
  padding-right: 12vh;
}
.text_05a p {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.75px;
  line-height: 0%;
}
.text_05a h4 {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  letter-spacing: 0.75px;
}
.text_05a span {
  color: var(--light-gray, #8f8f8f);
  text-decoration: line-through;
}
.text_05a .negrito_01 {
  color: #1f1f1f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  line-height: 0%;
  letter-spacing: 0.75px;
  padding-left: 1vh;
}
.text_05b {
  width: 30vh;
  height: 20vh;
  padding-right: 13vh;
}
.text_05b p {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 0.75px;
}
.text_05b h4 {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  letter-spacing: 0.75px;
}
.text_05b span {
  color: var(--light-gray, #8f8f8f);
  text-decoration: line-through;
}
.text_05b .negrito_02 {
  color: #1f1f1f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  line-height: 0%;
  letter-spacing: 0.75px;
  padding-left: 1vh;
}
.text_05c {
  width: 30vh;
  height: 20vh;
  padding-right: 13vh;
}
.text_05c p {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 0.75px;
}
.text_05c h4 {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  letter-spacing: 0.75px;
}
.text_05c span {
  color: var(--light-gray, #8f8f8f);
  text-decoration: line-through;
}
.text_05c .negrito_03 {
  color: #1f1f1f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  line-height: 0%;
  letter-spacing: 0.75px;
  padding-left: 1vh;
}
.text_05d {
  width: 30vh;
  height: 20vh;
}
.text_05d p {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 0%;
  letter-spacing: 0.75px;
}
.text_05d h4 {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  letter-spacing: 0.75px;
}
.text_05d span {
  color: var(--light-gray, #8f8f8f);
  text-decoration: line-through;
}
.text_05d .negrito_04 {
  color: #1f1f1f;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  font-weight: bold;
  line-height: 10px;
  letter-spacing: 0.75px;
  padding-left: 1vh;
}

.icons {
  position: absolute;
}
.face img {
  width: 2.5vh;
  height: 2.5vh;
  margin-top: 35vh;
  padding-right: 2vh;
}
.inst img {
  width: 3vh;
  height: 3vh;
  padding-right: 2vh;
}
.twi img {
  width: 3vh;
  height: 3vh;
}
.final_001 {
  height: 40vh;
  flex-shrink: 0;
  background: var(--dark-gray, #1f1f1f);
  display: flex;
  justify-content: flex-start;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.final_a {
  width: 30vh;
  padding-right: 40vh;
}
.final_a img {
  width: 4vh;
  height: 4vh;
  position: absolute;
  padding-top: 5vh;
}
.final_a h4 {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.364px;
  margin-top: 4.5vh;
  margin-left: 4.5vh;
}
.final_a p {
  width: 40vh;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: -2vh;
}
.final_b {
  width: 30vh;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding-right: 5vh;
}
.final_b h6 {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.final_b a {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 2vh;
  text-decoration: none;
}
.final_c {
  width: 20vh;
  display: flex;
  flex-direction: column;
  padding-right: 3vh;
}
.final_c h6 {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.final_c a {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
  text-decoration: none;
}
.final_d {
  width: 30vh;
}
.final_d h6 {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.final_d p {
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.text_final hr {
  fill: var(--white, #fff);
  opacity: 0.3;
  margin-top: 5vh;
}
.text_final p {
  text-align: center;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
footer {
  width: 160vh;
  height: 62vh;
  background: var(--dark-gray, #1f1f1f);
  padding-left: 8vh;
  padding-right: 8vh;
}
main {
  width: 176vh;
  height: 185vh;
}
