@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  padding: 0;
  margin: 0;
  width: 176vh;
  height: 260vh;
}
.container {
  width: 176vh;
  height: 20vh;
  background: #fff;
  box-shadow: 0px 10px 30px 0px rgba(141, 114, 32, 0.05);
}
.barra_topo {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 40px;
  padding-right: 40px;
}
.logo img {
  width: 25px;
  height: 25px;
}
.text_logo h1 {
  color: var(--primary, #c92071);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  font-weight: bolder;
  line-height: normal;
  letter-spacing: -0.364px;
  margin-top: -5px;
  margin-left: -40px;
}
.inputs input {
  width: 350px;
  height: 30px;
  flex-shrink: 0;
  border: 0;
  border-radius: 8px;
  background: var(--dark-gray-2, #f5f1f1);
  padding-left: 1rem;
  border: 0;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: var(--dark-gray, #1f1f1f);
  padding-right: 28px;
}
.inputs input::placeholder {
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: var(--dark-gray, #1f1f1f);
  padding-left: -1rem;
  border: 0;
}
.search img {
  position: relative;
  width: 19px;
  height: 20px;
  margin-left: -70px;
  margin-top: 6px;
}
.text {
  margin-top: 2px;
}
.text a {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-decoration-line: underline;
}
.botao a button {
  width: 60px;
  height: 28px;
  color: var(--light-gray-3, #f5f5f5);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.75px;
  background-color: #c92071;
  border: 0;
  border-radius: 8px;
  margin-top: 2px;
}
.carrinho img {
  width: 15px;
  height: 15px;
  padding-top: 8px;
}
.number p {
  position: absolute;
  color: var(--white, #fff);
  font-family: Inter;
  font-size: 7px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  width: 12px;
  height: 12px;
  background-color: #c92071;
  border-radius: 22px;
  text-align: center;
  margin-left: -45px;
  margin-top: 1px;
}
.barra_inferior {
  display: flex;
  justify-items: flex-start;
  padding-top: 10px;
  padding-left: 40px;
}
.barra_inferior a {
  text-decoration: none;
  color: var(--dark-gray-2, #474747);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
}
.barra_inferior .home {
  padding-right: 20px;
}
.barra_inferior .produtos {
  color: var(--primary, #c92071);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  text-decoration: underline 2px;
  padding-right: 20px;
}
.barra_inferior .categorias {
  padding-right: 20px;
}
.main {
  width: 176vh;
  height: 170vh;
  background: #f9f8fe;
}
.main .menu {
  padding-top: 12px;
  padding-left: 40px;
}
.main .menu a {
  text-decoration: none;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
  padding-right: 5px;
}
.caixa_topo {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
}
.caixa_a {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 400px;
  border-radius: 4px;
  background: #e2e3ff;
}
.caixa_a span {
  width: 8px;
  height: 8px;
  padding-top: 180px;
  padding-left: 15px;
  padding-right: 25px;
}
.caixa_a picture img {
  width: 350px;
  height: 200px;
  padding-top: 120px;
}
.caixa_b {
  padding-left: 30px;
}
.caixa_b h2 {
  width: 350px;
  height: 50px;
  color: var(--dark-gray, #1f1f1f);
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 900;
  font-weight: bolder;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-top: -5px;
}
.caixa_b .sub_titulo {
  display: flex;
  color: var(--dark-gray-3, #666);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.8px;
  margin-top: -10px;
}
.caixa_b .sub_titulo p {
  padding-right: 6px;
}
.caixa_b .sub_titulo_2 {
  display: flex;
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
}
.caixa_b .sub_titulo_2 img {
  width: 140px;
  height: 25px;
  margin-left: -3px;
}
.caixa_b .sub_titulo_2 p {
  padding-left: 10px;
  margin-top: 3px;
}
.caixa_b .sub_titulo_3 {
  display: flex;
}
.caixa_b .sub_titulo_3 .reais {
  display: flex;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  margin-top: 20px;
}
.caixa_b .sub_titulo_3 .valor {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
  margin-top: 12px;
  margin-left: 3px;
}
.caixa_b .sub_titulo_3 p span {
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
}
.caixa_b .sub_titulo_3 .desconto {
  color: var(--light-gray-2, #ccc);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.75px;
  text-decoration: line-through;
  margin-top: 20px;
  margin-left: 8px;
}
.sub_titulo_4 h4 {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
  margin-top: -10px;
}
.sub_titulo_4 .paragrafo {
  width: 64vh;
  height: 10vh;
  color: var(--dark-gray-2, #474747);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.25px;
  margin-top: -10px;
}
.sub_titulo_4 .tamanho_text {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
}
.quadros {
  display: flex;
  justify-content: start;
  margin-top: -4px;
}
.quadros div {
  width: 4vh;
  height: 4vh;
  color: var(--dark-gray-2, #474747);
  text-align: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.75px;
  border-radius: 4px;
  border: 1px solid var(--light-gray-2, #ccc);
  background: var(--white, #fff);
  margin-right: 8px;
}
.quadros a {
  text-decoration: none;
}
.quadros .rosa {
  background: var(--primary, #c92071);
}
.circulos {
  display: flex;
  justify-content: start;
}
.circulos div {
  width: 3.5vh;
  height: 3.5vh;
  border-radius: 50%;
  background-color: #1f1f1f;
  margin-right: 8px;
}
.circulos div a .c {
  background-color: black;
}

.caixa_inter p {
  color: var(--light-gray, #8f8f8f);
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0.75px;
}
